* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
}

.titulo {
    height: 69px;
    width: 100%;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #ffffff;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.meus-quizzes-vazio {
    margin: 146px auto 0 auto;
    height: 181px;
    width: 1070px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    padding: 33px 0;
}

.meus-quizzes-vazio div:first-child {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meus-quizzes-vazio div:last-child {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    padding: 5px 20px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.meus-quizzes {
    margin: 140px auto 0 auto;
    height: 217px;
    width: 1070px;
}

.sub-titulo {
    display: flex;
    align-items: center;
}

.sub-titulo h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.sub-titulo ion-icon {
    margin-left: 17px;
    font-size: 35px;
    color: #EC362D;
}

.quizzes {
    display: flex;
    justify-content: start;
}

.meus-quizzes .quizzes {
    overflow-x: scroll;
}

.todos-quizzes .quizzes {
    flex-wrap: wrap;
}

.quizz {
    width: 340px;
    height: 181px;
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
    word-break: break-word;
}

.quizz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.quizz h3 {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 25px 17px 17px;
}

.todos-quizzes {
    margin: 60px auto 200px auto;
    width: 1070px;
}

.pagina2, .quizz-selecionado {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 57px;
}

.titulo-quiz {
    width: 100%;
    height: 227px;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titulo-quiz h1 {
    word-break: break-word;
}

.overlay-preto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-preto {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay-preto::after {
    content: '';
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

.titulo-quiz h1 {
    font-size: 39px;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    align-self: center;
}

.caixa-pergunta {
    width: 759px;
    padding: 28px 34px 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}

.titulo-pergunta {
    width: 688.16px;
    height: 137.99px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 700;
    padding-right: 15px;
    padding-left: 25px;
    margin-bottom: 20px;
    word-break: break-word;
}

.caixa-opcoes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.opcao {
    width: 329.91px;
    margin-bottom: 20px;        
}

.nao-selecionada {
    opacity: 30%; 
}

.certa {
    color: #009C22;
}

.errada {
    color: #FF4B4B;
}

.opcao img {
    width: 329.91px;
    height: 175.2px;
    margin-bottom: 7px;
}

.opcao p {
    font-size: 20px;
    font-weight: 700;
    word-break: break-word;
}

.caixa-resultado {
    width: 759px;
    height: 430px;
    padding: 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 57px;
}

.titulo-resultado {
    width: 727px;
    height: 99px;
    margin-bottom: 18px;
    padding-right: 15px;
    padding-left: 25px;
    background-color: #EC362D;
    font-size: 23px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
}

.conteudo-resultado {
    display: flex;
}

.conteudo-resultado img {
    width: 364px;
    height: 273px;
    margin-right: 21px;
}

.conteudo-resultado p {
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
    word-break: break-word;
}

.reininciar button {
    width: 260.38px;
    height: 52px;
    border: 0px;
    border-radius: 15px;
    background-color: #EC362D;
    font-size: 21px;
    color: #FFF5F4;
    margin-bottom: 16px;
}

.voltar-home button {
    width: 260.38px;
    height: 52px;
    border: 0px;
    border-radius: 15px;
    background-color: inherit;
    font-size: 21px;
    color: #818181;
    margin-bottom: 85px;
}

.degrade {
    position: relative;
}

.degrade::after {
    content: '';
    width: 100%;
    height: 99%;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000000 100%);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.escondido {
    display: none;
}

